@font-face {
  font-family: bodytext;
  src: url(MankSans-Medium.ttf)
}
@@font-face {
  font-family: headtext;
  src: (Quick.otf);
}

body {
  background: url("DSC01371_2.JPG");
  background-repeat:   no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
article {
  color: #dedef2;
  font-family: headtext !important;
  text-align: center;
  font-size: 4em;
  margin-top: 320px!important;
  margin-bottom: 50px!important;
  margin-left: 50px !important;
  margin-right: 50px !important;
  box-sizing: border-box;
  padding: 2%;
}
article1 {
  color: #dedef2;
  font-family: bodytext;
  text-align: justify;
  font-size: 1.3em;
  margin-bottom: 50px!important;
  margin-left: 800px !important;
  margin-right: 50px !important;

}
.container {
  position: relative;
}
nav {
  max-height: 2rem;
}
