{{ define "main" }}
<header>
    <h1 class="text-center">{{ .Site.Title }}</h1>
</header>
<article class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{ partial "products/common/site-main-nav.html" . }}

        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-12 col-md-6 order-md-2">
            {{ partial "products/single/product-single-heading.html" . }}

            <div class="d-none d-md-block">

                <p> {{ .Content }} </p>
                <p> {{ partial "products/order_form.html" . }}</p>
                {{ if .Params.cafePress }}
                  <p> {{ partial "products/cafe_press_link.html" . }}</p>
                {{ end }}
                {{ if eq .Params.title "Creative Mindz" }}
                  <p> {{ partial "products/creative_mindz_paypal_button.html" . }}</p>
                {{ end }}
                {{ if eq .Params.title "Sea to Mountains" }}
                  <p> {{ partial "products/sea2mts_paypal_button.html" . }}</p>
                {{ end }}
                {{ if eq .Params.title "Lake Superior North Shore" }}
                  <p> {{ partial "products/NSsuperior_paypal_button.html" . }}</p>
                {{ end }}
                {{ if eq .Params.title "Live in Awe" }}
                  <p> {{ partial "products/live_in_awe_paypal_button.html" . }}</p>
                {{ end }}
                {{ if eq .Params.title "Contemplation" }}
                  <p> {{ partial "products/contemplation_paypal_button.html" . }}</p>
                {{ end }}
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-1">
            {{ range .Params.images }}
            <img class="b-lazy img-fluid text-center" data-src="{{ . }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
            {{ end }}
        </div>
        <div class="col-12 col-md-6 order-md-2 d-block d-md-none text-secondary">
            <p>{{ .Content }}</p>
            <p>{{ partial "products/order_form.html" . }}</p>
            {{ if .Params.cafePress }}
              <p> {{ partial "products/cafe_press_link.html" . }}</p>
            {{ end }}
            {{ if eq .Params.title "Creative Mindz" }}
              <p> {{ partial "products/creative_mindz_paypal_button.html" . }}</p>
            {{ end }}
            {{ if eq .Params.title "Sea to Mountains" }}
              <p> {{ partial "products/sea2mts_paypal_button.html" . }}</p>
            {{ end }}
            {{ if eq .Params.title "Lake Superior North Shore" }}
              <p> {{ partial "products/NSsuperior_paypal_button.html" . }}</p>
            {{ end }}
            {{ if eq .Params.title "Live in Awe" }}
              <p> {{ partial "products/live_in_awe_paypal_button.html" . }}</p>
            {{ end }}
            {{ if eq .Params.title "Contemplation" }}
              <p> {{ partial "products/contemplation_paypal_button.html" . }}</p>
            {{ end }}
        </div>

    </div>
</article>
{{ end }}
